
table{
    width: 800px;
    height: 200px;
    margin-top: 100px;
    margin-left: 400px;
    font-size: 20px;  
}
table,td,th{
    text-align: center;
    padding: 20px;
    color: black;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-block-start-color: rgb(230, 81, 54);
}
#size{
    text-align: center;
    color: white;
    background-color: rgb(238, 101, 38);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
    height: 20px;
    margin-top: 300px;
    margin-left: 400px;
    margin-right: 100px;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
}
tr:nth-child(odd){
    background-color:rgb(252, 206, 212);
}
tr:nth-child(even){
    background-color: white;
}
#c{
    background-color: rgb(60, 96, 204);
    color: white;
    text-align: right;
    letter-spacing: 5px;
}