form{
    border:1px solid black;
    width: 417px;
    height: 530px;
    margin-top: 200px;
    margin-left: 600px;
    border-radius: 15px;
    text-align: left;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}
input[type="text"] ,input[type="email"],input[type="number"]{
    width: 180px;
    height: 30px;
    text-align: left;
    background-color: white;
    font-size: 14px;
    outline: none;
    margin: 10px;
}
button[type="submit"]{
    margin: 10px;
    height: 40px;
    width: 180px;
    text-align: center;
    background-color: rgb(10, 156, 10);
    color: white;
    border: none;
    position: absolute;
    margin-left: 200px;
}
h4{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-left:10px ;
    margin-bottom: 10px;
}
#size{
    width: 390px;
}